<div id="outer">
  <app-homenav></app-homenav>
  <div id="background">

    <ul id="sticky_notes">
      <li>
        <a>
          <h2>Travel</h2>
        </a>
      </li>
      <li>
        <a>
          <h2>Read a book</h2>
        </a>
      </li>
      <li>
        <a>
          <h2>La Tomatina 2019?</h2>
        </a>
      </li>
      <li>
        <a>
          <h2>Personalize it</h2>
        </a>
      </li>
      <br>
    </ul>
  </div>

  <!-- Footer -->
  <footer class="py-2 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bucketlist 2018</p>
    </div>
    <!-- /.container -->
  </footer>
</div>
